# dependencies
node_modules
.pnpm-store

# build output
dist
dist-ssr
*.local

# Tauri (Step 6 生成)
src-tauri/target
src-tauri/gen

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
